[package]
name = "wgpu_text"
authors = ["Leon (Blatko1)"]
version = "0.8.5"
edition = "2021"
description = "A simple 2D text renderer for wgpu"
license = "MIT"
readme = "README.md"
repository = "https://github.com/Blatko1/wgpu-text"
keywords = ["wgpu", "text", "ttf", "render", "font"]
categories = ["graphics", "rendering"]
include = ["src/**/*", "LICENSE", "Cargo.toml", "README.md", ".gitignore"]

[dependencies]
wgpu = "0.18.0"
glyph_brush = "0.7.8"
log = "0.4.20"
bytemuck = { version = "1.14.0", features = ["derive"] }

[dev-dependencies]
wgpu = { version = "0.18.0", features = ["spirv"] }
winit = "0.29.9"
pollster = "0.3.0"
env_logger = "0.10.0"
rand = "0.8.5"
nalgebra = "0.32.3"

[[example]]
path = "examples/custom_output/custom_output.rs"
name = "custom_output"
