[package]
name = "wgpu_text"
authors = ["Leon (Blatko1)"]
version = "0.6.1"
edition = "2021"
description = "Simple library for rendering text with wgpu"
license = "MIT"
readme = "README.md"
repository = "https://github.com/Blatko1/wgpu-text"
keywords = ["wgpu", "text", "ttf", "truetype", "font"]
categories = ["graphics", "rendering"]
resolver = "2"
include = ["src/**/*", "LICENSE", "README.md", "Cargo.toml", ".gitignore"]

[dependencies]
wgpu = "0.13.1"
glyph_brush = "0.7.3"
log = "0.4.16"

[dependencies.bytemuck]
version = "1.9.1"
features = ["derive"]

[dev-dependencies]
winit = "0.26.1"
pollster = "0.2.5"
env_logger = "0.9.0"
rand = "0.8.5"
